lib/html/build/javascripts/*
lib/html/build/images/*
lib/html/build/stylesheets/*
lib/html/build/*
lib/html/build/**/*
lib/html/source/images/emoji/*
electron/node_modules
.yardoc
doc
pkg
flammarion-*.gem
