sass:
  .my-stuff
    color: #a8943b
    white-space: normal
  .small-pane
    position: absolute
    right: 5%
    bottom: 5%
    background-color: #000
    width: 25em
    height: 25em
    border: 1px solid #330
    padding: 0.5em
    
.my-stuff
  h1 Example Slim Template
  p This is an example of an extra slim template. You can use it to create more
    advanced layouts.
  a href="http://zachcapalbo.com" 
    | See, here's a link!
  br
  a#console-shower href="#" Show Popup
  pre#console-test.pane.small-pane
    | You can even use pane("test").puts to get stuff here
    br
    a#console-hider href="#" Hide...
  
coffee:
  $('#console-shower').click ->
    $("#console-test").show()
  $('#console-hider').click ->
    $("#console-test").hide()
