---
title: Welcome to Middleman
layout: false
---

doctype html
html
  head
    meta[http-equiv="content-type" content="text/html; charset=UTF-8"]
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title Flammarion
    = stylesheet_link_tag("all")
    = javascript_include_tag("all")
    javascript:
      hljs.initHighlightingOnLoad();
  body
    #toolbar.hidden
      a.tool-button[href="#"] Open
      a.tool-button[href="#"] Save
    #panes
      pre#console-default.pane[style="height:100%"]
    #dialog.hidden
      #content
        pre#message Hi World
        a#ok.full-button[href="#"] Ok
    #status
      .left
      .center
      .right
    #searchbar.hidden
      i.fa.fa-search 
      input
    #plot-style.hidden
      .tickmarks
