set-ansi(val)
  &-fg
    color val
  &-bg
    background-color val

.ansi-black
  set-ansi(rgb(41, 41, 41))
.ansi-red
  set-ansi(rgb(187, 0, 0))
.ansi-green
  set-ansi(rgb(0, 187, 0))
.ansi-yellow
  set-ansi(rgb(187, 187, 0))
.ansi-blue
  set-ansi(rgb(35, 75, 198))
.ansi-magenta
  set-ansi(rgb(187, 0, 187))
.ansi-cyan
  set-ansi(rgb(0, 187, 187))
.ansi-white
  set-ansi(rgb(255,255,255))
.ansi-bright-black
  set-ansi(rgb(85, 85, 85))
.ansi-bright-red
  set-ansi(rgb(255, 85, 85))
.ansi-bright-green
  set-ansi(rgb(0, 255, 0))
.ansi-bright-yellow
  set-ansi(rgb(255, 255, 85))
.ansi-bright-blue
  set-ansi(rgb(85, 85, 255))
.ansi-bright-magenta
  set-ansi(rgb(255, 85, 255))
.ansi-bright-cyan
  set-ansi(rgb(85, 255, 255))
.ansi-bright-white
  set-ansi(rgb(255, 255, 255))
