activate(color, ammount)
  if dark(color)
    lighten(color, ammount)
  else
    darken(color, ammount)

// $bg-color = #120018
// $bg-color = #383e40
// $bg-color = #eee
$bg-color = rgb(29, 31, 33)

if dark($bg-color)
  $fg-color = #eee
else
  $fg-color = #333

if dark($bg-color)
  $status-bg-color = #000
else
  $status-bg-color = #aaa

if dark($bg-color)
  $code-bg-color = $bg-color
else
  $code-bg-color = darken($bg-color, 85%)

$highlight = activate($bg-color, 10%)
$active-highlight = activate($bg-color, 20%)
$normal-border = 1px solid darken($fg-color, 30%)
$scrollbar-track-color = desaturate($active-highlight, 80%)
$scrollbar-thumb-color = desaturate(activate($scrollbar-track-color, 30%), 20%)
$fg-highlight = mix($fg-color, $highlight, 50%)
$fg-active-highlight = mix($fg-color, $active-highlight, 50%)

$enable-gradients = true
$main-font = monospace
