@import 'colors.styl'
@import 'mixins.styl'

#dialog
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.5)
  position absolute
  left 0
  top 0
  user-select none

  & > #content
    position absolute
    top 10%
    left 10%
    width 70%
    height 70%
    padding 1em
    background-color darken($bg-color, 20%)
    border $normal-border
    if $enable-gradients
      box-shadow 2px 2px 4px 2px #333
    user-select none
    & > #message
      user-select all
      margin 0
      height calc(100% - 3em)
      word-wrap normal
      overflow auto
    & > .full-button
      height 1em
