@charset "utf-8";
@import 'colors.styl'
@import 'mixins.styl'

body
  background-color $bg-color
  color $fg-color
  padding 0px
  margin 0px
  height 100%
  width 100%
  overflow hidden
  user-select none

html
  padding 0px
  height 100%
  width 100%
  overflow hidden

  if $enable-gradients
    padding 2px
    padding-bottom 0px
    height calc(100% - 2px)
    width calc(100% - 4px)
    box-shadow-inset()

a
  text-decoration none
  color $fg-highlight
  &:hover
    color $fg-active-highlight
  p &, .markdown &
    text-decoration underline

.hidden
  display none

.pane
  margin 0px
  overflow auto
  padding 8px
  width 100%
  height 100%
  box-sizing: border-box;
  word-wrap: break-word;
  position relative
  user-select text
  font-family $main-font
  white-space pre-wrap

.pane > .pane
  width calc(100% + 16px)
  height initial
  margin -8px

  &.subpane-fill
    height calc(100% + 16px)

#panes
  height calc(100% - 1em - 14px)
  width 100%
  box-sizing: border-box

.horizontal > .pane
  height 100%
  float left

hr
  width 95%
  background-color $fg-color
  border 1px solid activate($bg-color, 10%)
