@charset "utf-8";
@import 'colors.styl'
@import 'mixins.styl'

body
  background-color $bg-color
  color $fg-color
  padding 0px
  margin 0px
  height 100%
  width 100%
  overflow hidden
  user-select none

html
  padding 0px
  height 100%
  width 100%
  overflow hidden

a
  text-decoration none
  p &
    text-decoration underline
    color $fg-highlight
    &:hover
      color $fg-active-highlight

.hidden
  display none

.pane
  margin 0px
  overflow auto
  padding 8px
  width 100%
  height 100%
  box-sizing: border-box;
  word-wrap: break-word;
  position relative

.pane > .pane
  width calc(100% + 16px)
  height initial
  margin -8px
  &.subpane-fill
    height calc(100% + 16px)

#panes
  height calc(98% - 15px)
  width 100%
  box-sizing: border-box

html
  if $enable-gradients
    padding-top 2px
    box-shadow-inset()

.horizontal > .pane
  height 100%
  float left

.plot
  width 100%
  height 100%
  border 1px solid #333
  margin -1px
  overflow none

#plot-mouseover
  position absolute
  background-color rgba(0, 0, 0, 0.5)
  color $fg-color
  pointer-events none
  font-family Monospace

#plot-zoom-element
  position absolute
  background-color rgba(0, 3, 10, 0.75)
  pointer-events none
  border 1px solid #012

.hljs
  background-color $code-bg-color
