user-select(n)
    -webkit-touch-callout: n
    -webkit-user-select: n
    -khtml-user-select: n
    -moz-user-select: n
    -ms-user-select: n
    user-select: n

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  if $enable-gradients
  	background-color startColor
  	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

box-shadow-inset(ammount = 2)
  if $enable-gradients
    box-shadow inset 0px 0px 2px 2px darken($bg-color, 20%)

drop-shadow(ammount = 2)
  if $enable-gradients
    box-shadow 2px 2px 4px 2px darken($bg-color, 20%)

button-gradient(bcolor, reverse = false)
  if $enable-gradients
    start = lighten(bcolor, 10%)
    end = darken(bcolor, 10%)
    if reverse
      tmp = end
      end = start
      start = tmp

    if dark($bg-color)
      gstart = 0%
      gend = 20%
    else
      gstart = 40%
      gend = 100%

    background-linear-gradient top, start, gstart, end, gend
