@import "mixins.styl"
@import "colors.styl"

.plot
  width 100%
  height 100%
  border 1px solid #333
  margin -1px
  overflow none

#plot-mouseover
  position absolute
  background-color rgba($active-highlight, 0.5)
  color $fg-color
  pointer-events none
  font-family Monospace
  padding 0.25em
  drop-shadow()

#plot-zoom-element
  position absolute
  background-color rgba(0, 3, 10, 0.75)
  pointer-events none
  border 1px solid #012

// Note: You have to add a div with each of these to
// index.html.slim for this to take effect.
#plot-style
  color $fg-color
  background-color activate($bg-color, 10%)
  & .tickmarks
    color activate($fg-color, 30%)
  & .markers
    color activate($fg-color, 30%)
  & .zero
    color rgba(activate($bg-color, 20%), 0.75)
