@import 'colors.styl'
@import 'mixins.styl'

::-webkit-scrollbar {
  width: 0.666em;
  height: 0.666em;
}

::-webkit-scrollbar:hover {
  width: 1.5em;
  height: 1.5em;
}

::-webkit-scrollbar-thumb
  background $scrollbar-thumb-color
  if $enable-gradients
    background-linear-gradient left, lighten($scrollbar-thumb-color, 30%), 40%, darken($scrollbar-thumb-color, 10%), 50%

  &:horizontal
    if $enable-gradients
      background-linear-gradient top, lighten($scrollbar-thumb-color, 30%), 40%, darken($scrollbar-thumb-color, 10%), 50%

::-webkit-scrollbar-track
  background $scrollbar-track-color
  if $enable-gradients
    box-shadow inset 0px 0px 1px 1px darken($bg-color, 10%)
