@import 'colors.styl'

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

body:hover::-webkit-scrollbar {
  width: 1.5em;
  height: 1.5em;
}

::-webkit-scrollbar-thumb {
  background $scrollbar-thumb-color
}

::-webkit-scrollbar-track
  background $scrollbar-track-color
