@import 'colors.styl'
@import 'mixins.styl'

#searchbar
  position absolute
  right 10%
  top 0px
  padding 5px
  padding-top 0px
  background-color $bg-color
  border $normal-border
  border-top 0px
  border-radius 0 0 4px 4px
  drop-shadow()
  & > input
    margin-left 1em
