@import 'colors.styl'
@import 'mixins.styl'

#status
  background-color $status-bg-color
  margin 0px
  padding 5px
  padding-bottom 10px
  font-family $main-font
  height 1em
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  user-select none
  if false //$enable-gradients
    //background-linear-gradient top, lighten($status-bg-color, 10%), 10%, darken($status-bg-color, 10%), 100%
    button-gradient $status-bg-color
  else
   border-top 1px solid activate($status-bg-color, 10%)
  &:before
    color #781111
    content "Detached"
  & > .left
    float left
    cursor pointer
  & > .right
    float right
    cursor pointer
    text-align right
  & > .center
  // Not working right now
    display none

  .connected &
    &:before
      color #378137
      content ""
      margin-right 2em
      float left
