@import "colors.styl"

table
  border-collapse collapse

td
  border none
  padding 0.4em
  box-sizing: padding-box
  &.hover
    background activate($bg-color, 5%)
    // border-left 1px solid white
    // border-right 1px solid white
    // tr:nth-child(1) &
    //   border-top 1px solid white
    // tr:nth-last-child(1) &
    //   border-bottom 1px solid white

tr
  padding 0

tr:hover
  background activate($bg-color, 5%)
  // outline 1px solid white
  // padding -1px
  & td.hover
    outline 1px solid #333
    background activate($bg-color, 0%)
